title-font
{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: darkgray;
}

r 
{
    font-size: large;
    color: black;
}

quanzu
{
    font-size: 22px;
    color: red;
}

diemnhan
{
    Color: green;
    font-style: italic;
}

size
{
    font-size: 19px;
}

tieusu
{
    font-size: 19px;
}

@media (max-width: 1000px){
}
