@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-size: 14px;
    color: #111;
    line-height: 1.15;
}

#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.headline{
    text-align: center;
    margin: 40px 0px;
}

h3{
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
}

ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li img{
    max-width: 100%;
    height: auto;

}

ul.products li .product-top{
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb{
    display: block;
}

ul.products li:hover .product-top .product-thumb{
    filter: opacity(80%);
}

ul.products li .product-top .product-thumb img{
    display: block;
}

ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy-now{
    bottom: 0px;
}

ul.products li .product-info{
    padding: 20px 0px;
}

ul.products li .product-info a.product-cart{
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}

ul.products li .product-info a.product-name{
    color: #334862;
    padding: 3px 0px;
}
ul.products li .product-info a.product-price{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}
