@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img{
    width: 100%;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

body{
    color: var(--text-color);
}

header{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hs1;
}

.second-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop{
    margin-top: 2rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box{
    position: relative;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover{
    background: hsl(249, 32%, 17%);    
}

#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}

.cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}